<div class="text-danger text-center my-5">
    <h3 class="display-3">
        <i class="fa fa-bug-slash"></i>
        <br>
        Access Denied
    </h3>
</div>

<div class="text-center">
    <div class="lead">
        You have no permission to access this route.If you think this is a mistake go see the Admin user.
    </div>
    
    <div class="btn-group my-3">
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Home">Home</a>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Product">Products</a>
        <a class="btn btn-outline-primary" asp-page="/Contact">Contact</a>
    </div>
    
</div>

