<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MVCWEB</title>
    <!-- önbellekte tutarsa appen version ile daha hızlı olur --->
    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" asp-append-version="true" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <!-- buraya süre sınırlı şeyler eklenebilir -->
    @RenderSection("Top", false)

    <partial name="_Navbar"/>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer>
    @RenderSection("Footer",false)
    <partial name="_Footer"/>
    
</footer>
<!-- daha hızlı olur append version true ---->
<script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
<script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true" src="~/js/site.js" asp-append-version="true"></script>
<script asp-append-version="true" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>