@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Btk Asp</h1>
    <!-- sayfa elemanları değişirse -->
    <p><a asp-controller="Course" asp-action="Apply" class="btn btn-outline-secondary">Apply</a></p>
</div>