@model IEnumerable<Category>

<div>
    <ul class="list-group my-4 mx-2">
        @foreach (var item in @Model)
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-controller="Product" asp-route-CategoryId="@item.CategoryId">
                    @item.CategoryName
                </a>
            </li>
        }
    </ul>
</div>