@model ProductDtoForInsertion

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <div class="display-6 my-3">Create</div>
</div>

<!-- ikili verilerde gidecek diyor -->
<form method="post" asp-action="Create" enctype="multipart/form-data">
    
    <div class="text-danger" asp-validation-summary="All"></div>
    
    <div class="form-group my-3">
        <label class="my-2" asp-for="categoryId"></label>
        @*<select class="form-control" asp-for="categoryId">
            @#1#foreach (var cat in ViewBag.Categories)
            {
                <option value="@cat.CategoryId">@cat.CategoryName</option>
            }#1#
        </select>*@
        
        <select class="form-control my-3"
                asp-items="@ViewBag.Categories" asp-for="categoryId"></select>
    </div>
    
    <div class="form-group my-3">
        <label asp-for="ProductName"></label>
        <input type="text" class="form-control" asp-for="ProductName" placeholder="Enter Product Name">
    </div>
    <div class="form-group my-3">
        <label asp-for="Price"></label>
        <input type="text" class="form-control" asp-for="Price" placeholder="Enter Price">
    </div>
    
    <div class="form-group my-3">
        <!-- summary açıklama yeri -->
        <label asp-for="Summary"></label>
        <input type="text" class="form-control" asp-for="Summary">
    </div>
    
    <div class="form-group my-3">
        <label asp-for="ImageUrl"></label>
        <input type="file" class="form-control" name="file" >
    </div>

    <!-- burda check olabilirdi ama onu kayıt almada sor -->

    <div class="form-group my-3">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i>
                Submit
            </button>

            <a asp-action="Index" asp-controller="Product" class="btn btn-warning mx-2" style="text-decoration: none">
                <i class="fa fa-list"></i>
                Products
            </a>
        </div>

    </div>
</form>