@page "/getintouch"

<!-- ekstra eklenecek elemanlar renderlara gitsin / style için olanlar style dosyasına ekle ayrıca sayfayı parçalara bölemezsin
    bölersende partial değerlerini başka yerlerden alman gerekir.
--> 

<div class="text-center my-3 pb-3">
    <div class="display-6">Contact</div>
    <hr/>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>Call the Number +1 291234124</p>
        
        <i class="fa fa-address-card text-primary my-3"></i>
        <p>Washington DC</p>
        
        <i class="fa fa-envelope text-primary my-3"></i>
        <p>info@storeapp.com</p>
    </div>
</div>